// scss-lint:disable ColorVariable

@import "functions";

// default color scheme
$bg_color: if($variant == "dark", #101010, #d8d8d8);
$fg_color: if($variant == "dark", #d8d8d8, #101010);
$base_color: if($variant == "dark", #1a1a1a, #ffffff);
$text_color: if($variant == "dark", #ffffff, #1a1a1a);
$button_bg_color: if($variant == "dark", #111111, #f5f5f5);
$button_fg_color: if($variant == "dark", #f5f5f5, #111111);
$header_button_bg_color: #5c5c5c;
$header_button_fg_color: #e6e6e6;
$selected_bg_color: #ad7fa8;
$selected_fg_color: #ffffff;
$tooltip_bg_color: #d8d8d8;
$tooltip_fg_color: #101010;

// dark colors
$dark_bg_color: #3c3c3c;
$dark_fg_color: #e6e6e6;

// shadows
$dark_shadow: #000;
$light_shadow: #fff;

// caret
$primary_caret_color: #1a1a1a;
$secondary_caret_color: #1a1a1a;
$caret_aspect_ratio: 0.04;

// white and black
$black: #000;
$white: #fff;

// misc colors used by gtk+
$info_fg_color: #fff;
$info_bg_color: #03a9f4;
$warning_fg_color: #fff;
$warning_bg_color: #ef6c00;
$question_fg_color: #fff;
$question_bg_color: #673ab7;
$error_fg_color: #fff;
$error_bg_color: #f44336;
$link_color: #ad7fa8;
$success_color: #4caf50;
$warning_color: #ef6c00;
$error_color: #f44336;

$toolbar_bg_color: $bg_color;
$toolbar_fg_color: $fg_color;

$titlebar_bg_color: $dark_bg_color;
$titlebar_fg_color: $dark_fg_color;

$menu_bg_color: $dark_bg_color;
$menu_fg_color: $dark_fg_color;

$menubar_bg_color: $dark_bg_color;
$menubar_fg_color: $dark_fg_color;

$panel_bg_color: $dark_bg_color;
$panel_fg_color: $dark_fg_color;

$osd_base: $dark_bg_color;
$osd_fg: $dark_fg_color;
$osd_bg: alpha($osd_base, 0.8);

$lightdm_bg_color: $dark_bg_color;
$lightdm_fg_color: $dark_fg_color;

$wm_bg: $titlebar_bg_color;
$wm_border_focused: #3c3c3c;
$wm_border_unfocused: #3c3c3c;
$wm_title_focused: mix($titlebar_fg_color, $titlebar_bg_color, .1);
$wm_title_unfocused: mix($titlebar_fg_color, $titlebar_bg_color, .4);
$wm_icons_focused: mix($titlebar_fg_color, $titlebar_bg_color, .1);
$wm_icons_focused_prelight: $selected_bg_color;
$wm_icons_focused_pressed: shade($selected_bg_color, .8);
$wm_icons_unfocused: mix($titlebar_fg_color, $titlebar_bg_color, .4);
$wm_icons_unfocused_prelight: $selected_bg_color;
$wm_icons_unfocused_pressed: shade($selected_bg_color, .8);

// widget styles
$roundness: 2px;
$spacing: 3px;
$gradient: 0.0;

$contrast: .8;
